<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../../css/fonts.css">
  <title>Button.js</title>
</head>
<style>
  li {
    padding-bottom: 15px;
  }
</style>
<body>
  <h1>Button.js</h1>
  <ol>
    <li><mui-button small>small</mui-button></li>
    <li><mui-button label="default"></mui-button></li>
    <li><mui-button big label="big">big</mui-button></li>
    <li><mui-button disabled label="disabled"></mui-button></li>
    <li><h4>Button with button-width variable namespaced</h4>
      <style>
        html {
          --width-button-width: 100%;
        }
      </style>
      <mui-button label="width" namespace="width-"></mui-button>
    </li>
    <li>
      <h4>Button with button-color variables namespaced and one slot icon left</h4>
      <style>
        html {
          --confirm-button-color: lightgreen;
          --confirm-button-color-hover: green;
        }
      </style>
      <mui-button label="confirm" namespace="confirm-">
        <i slot="left-icon">&#10010;</i>
      </mui-button>
    </li>
    <li>
      <h4>Button with button-color variables namespaced and one icon right</h4>
      <style>
        html {
          --decline-button-color: red;
          --decline-button-color-hover: pink;
        }
      </style>
      <mui-button label="decline" namespace="decline-">
        <i type="file" slot="right-icon">&#10008;</i>
      </mui-button>
    </li>
    <li>
      <h4>Button with circle attribute one slot icon right</h4>
      <mui-button circle>
        <i type="file" slot="right-icon">&#9728;</i>
      </mui-button>
    </li>
    <li><mui-button outline label="outline"></mui-button></li>
    <li><mui-button raised label="raised"></mui-button></li>
    <li><mui-button raised disabled label="raised disabled"></mui-button></li>
    <li>
      <h4>Button with one slot file-input</h4>
      <mui-button label="file-input">
        <input type="file" slot="file-input">
      </mui-button>
    </li>
  </ol>
  <script rel=preload type=module>
    /**
     * First level controllers and organisms are loaded and defined here (loadChildComponents)
     */
    import('./Button.js').then(module => ['mui-button', module.default]).then(element => {
      // don't define already existing customElements
      if (element && !customElements.get(element[0])) customElements.define(...element)
    })
    Array.from(document.querySelectorAll('li')).forEach(li => {
      const code = document.createElement('code')
      code.textContent = li.innerHTML.replace(/<h4>.*?<\/h4>/, '').replace(/=""/g, '')
      li.appendChild(code)
    })
  </script>
</body>
</html>