<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../../css/fonts.css">
  <link rel="stylesheet" href="../../../../css/style.css">
  <title>Textarea.js</title>
</head>
<body>
  <h1>Textarea.js</h1>
  <component-list>
    <dt>
      <mui-textarea
        inputId="textareaDefault"
        placeholder="My Placeholder"
        autocomplete="name"
      >
        My Label for the Textarea
      </mui-textarea>
      <style>
        html {
          --decline-button-color: red;
          --decline-button-color-hover: pink;
          --decline-border-color: rgb(212, 4, 4);
          --decline-border-color-hover: rgb(235, 133, 150);
        }
      </style>
    </dt>
    <dt>
      <mui-textarea
        inputId="textareaDisabled"
        disabled
      >
        Textarea Disabled
      </mui-textarea>
    </dt>
    <dt>
      <mui-textarea
        inputId="textareaReadOnly"
        readonly
      >
        Textarea ReadOnly
      </mui-textarea>
    </dt>
    <dt>
      <mui-textarea
        inputId="textareaError"
        error
        placeholder="My Placeholder"
      >
        Textarea Error
      </mui-textarea>
    </dt>
  </component-list>
  <script rel=preload type=module>
    import('../../prototypes/ComponentList.js').then(module => ['component-list', module.default]).then(element => {
      // don't define already existing customElements
      if (element && !customElements.get(element[0])) customElements.define(...element)
    })

    const name = 'mui-textarea'
    import('./Textarea.js').then(module => [name, module.default]).then(element => {
      // don't define already existing customElements
      if (element && !customElements.get(element[0])) customElements.define(...element)
    })
  </script>
</body>
</html>
